<script>
    function toast_message_success(message) {
        Toastify({
            text: message,
            close: true,
            style: {
                background: "#222E3C",
            },
            offset: { // horizontal axis - can be a number or a string indicating unity. eg: '2em'
                y: 250 // vertical axis - can be a number or a string indicating unity. eg: '2em'
            },
            position: "center", // `left`, `center` or `right`
        }).showToast();
    }

    function toast_message_error(message) {
        Toastify({
            text: message,
            close: true,
            style: {
                background: "#dc3545",
            },
            offset: { // horizontal axis - can be a number or a string indicating unity. eg: '2em'
                y: 250 // vertical axis - can be a number or a string indicating unity. eg: '2em'
            },
            position: "center", // `left`, `center` or `right`
        }).showToast();
    }
    
</script>